@import "fonts.css";

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body,html {
  background: #fff;
 
  padding: 0px;
  margin: 0px;
}

/* NAVIGATION : BEGIN */

.navigation{
  position: relative;
  display: block;
  width: 100%;
  height: 72px;
  background: #ec008c;
  font-size: 0px;
  z-index: 3;

}

.navigation #btn-home{
  position: relative;
  display: inline-block;
  height: 24px;
  width: 60px;
  background: url('../images/HUGE.png') no-repeat top center;
  background-size: 60px;
  background-position: 0px -60px;
  padding: 0px;
  margin: 24px 48px 0 24px;
}

.navigation .nav-btn-holder{
  position: relative;
  display: inline-block;
  margin: 0px;
  top: 0px;
  
  height: inherit;
  vertical-align: top;
  width: auto;
  font-size: 0px;
  
}
.navigation .nav-btn-holder .nav-btn{
  position: relative;
  display: inline-block;
  }
.navigation .nav-btn-holder .nav-btn a{
  padding: 24px;
  color: #fff;
  font-size: 12px;
  text-decoration: none;
  font: 21px/1.2 HUGEAvantGardeBold;
  vertical-align: middle;
  display: block;
  text-transform: capitalize;
}
.navigation .nav-btn-holder .nav-btn:hover a{
  color: #ec008c;
  background: #fff;
} 

.navigation .nav-btn-holder .nav-btn:hover .sub-nav-holder{
    height:auto;
  }
.navigation .nav-btn-holder .nav-btn .sub-nav-holder{
  position: absolute;
  top: 72px;
  left: 0px;
  background: #fff;
  display: block;
  width: 225px;
  height: 0px;
  overflow: hidden;

}

.navigation .nav-btn-holder .nav-btn .sub-nav-holder a{
  position: relative;
  display: block;
  width: 100%;
  padding: 12px 24px;
  color: #000;
  font-size: 12px;
  text-decoration: none;
  font:16px/2 "Galaxie";
  vertical-align: middle;
  display: block;
  text-transform: capitalize;
}
.navigation .nav-btn-holder .nav-btn .sub-nav-holder a:first-child{
  margin-top: 12px;
  }
.navigation .nav-btn-holder .nav-btn .sub-nav-holder a:hover{
  background: #eee;
  color:#ec008c;
}




/* NAVIGATION :  END */





.hero{
  position: relative;
  display: block;
  width: 100%;
  height: 640px;
  background:url('../images/background-image.jpg') no-repeat top center #000;
  background-size: cover;
  -webkit-background-size: cover;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  color:#fff;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
  font: 15vmin/1.2 HUGEAvantGardeBold;
  letter-spacing: -0.02em;
  text-align: center;
  width: 100%;
}
h1 span{
  display: block;
}


.content-wrapper{
  position: relative;
  display: block;
  width: 100%;
  max-width: 980px;
  color:#000;
  font:16px/2 "Galaxie";
  margin: 0 auto 0 auto;
  padding: 0 0%;
}