@import "fonts.css";

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body,html {
  background: #fff;
  color: #fff;
  padding: 0px;
  margin: 0px;
}


.navigation{
  position: relative;
  display: block;
  width: 100%;
  height: 72px;
  background: #ec008c;
}

.hero{
  position: relative;
  display: block;
  width: 100%;
  height: inherit;
  background:url('../images/background-image.jpg') no-repeat top center #000;
  background-size: cover;
  -webkit-background-size: cover;
}
.hero h1 {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -0%);
  transform: translate(-50%, -0%);
  margin: 0;
  font: 15vmin/1.2 HUGEAvantGardeBold;
  letter-spacing: -0.02em;
  text-align: center;
  width: 100%;
}
.hero h1 span{
  display: block;
}