@import "fonts.css";

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body,html {
  background: #fff;
 
  padding: 0px;
  margin: 0px;
}

/* NAVIGATION : BEGIN */
.navigation{
  position: relative;
  display: block;
  width: 100%;
  height: 72px;
  background: #ec008c;
}

/* NAVIGATION :  END */
.hero{
  position: relative;
  display: block;
  width: 100%;
  height: 640px;
  background:url('../images/background-image.jpg') no-repeat top center #000;
  background-size: cover;
  -webkit-background-size: cover;
}
h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  color:#fff;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
  font: 15vmin/1.2 HUGEAvantGardeBold;
  letter-spacing: -0.02em;
  text-align: center;
  width: 100%;
}
h1 span{
  display: block;
}


.content-wrapper{
  position: relative;
  display: block;
  width: 100%;
  max-width: 980px;
  color:#000;
  font:16px/2 "Galaxie";
  margin: 0 auto 0 auto;
  padding: 0 0%;
}