@import "fonts.css";



*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body,html {
  background: #fff;
 
  padding: 0px;
  margin: 0px;
}

.body-no-scroll{
  overflow: hidden;
}

.main-wrapper{
  position: relative;
  display: block;
  width: 100%;
  height: inherit;
  overflow: hidden;
}
/* NAVIGATION : BEGIN */

.navigation{
  position: relative;
  display: block;
  width: 100%;
  height: 72px;
  background: #ec008c;
  font-size: 0px;
  z-index: 3;

}

.site-cover{
  position: fixed;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 2;
  
  opacity: 0;
  background: #000;     
  visibility: hidden;

}
.cover-site{
 /* display: none;*/
}


.navigation #btn-home{
  position: relative;
  display: inline-block;
  height: 24px;
  width: 60px;
  background: url('../images/HUGE.png') no-repeat top center;
  background-size: 60px;
  background-position: 0px -60px;
  padding: 0px;
  margin: 24px 48px 0 24px;
}

.navigation #mobile-menu-close{
  position: absolute;
  right: -24px;
  top: 20px;
  width: 24px;
  display: none;
}
.navigation #mobile-menu-close img{
  width: 100%;
}

#mobile-menu{
  display: none;
}
.navigation .nav-btn-holder{
  position: relative;
  display: inline-block;
  margin: 0px;
  top: 0px;
  
  height: inherit;
  vertical-align: top;
  width: auto;
  font-size: 0px;

}
.navigation .nav-btn-holder .nav-btn{
  position: relative;
  display: inline-block;
  }

.navigation .nav-btn-holder .nav-btn a{
  padding: 24px;
  color: #fff;
  font-size: 12px;
  text-decoration: none;
  font: 21px/1.2 HUGEAvantGardeBold;
  vertical-align: middle;
  display: block;
  text-transform: capitalize;

}

.navigation .nav-btn-holder .nav-btn:hover a{
   background:#fff url('') no-repeat 93% 26px;
  background-size: 0px;
  color: #000;
  
} 
.navigation .nav-btn-holder .with-sub a{
    
    background: url('') no-repeat 93% 26px;
    background-size: 0px;
    color: #fff;
  }
.navigation .nav-btn-holder .with-sub a:hover{
  background:#fff url('') no-repeat 93% 26px;
  background-size: 0px;
  color: #000;
}

/*
.navigation .nav-btn-holder .nav-btn:hover .sub-nav-holder{
   height: 0px;
  }
*/
.navigation .nav-btn-holder .nav-btn .sub-nav-holder{
  position: absolute;
  top: 72px;
  left: 0px;
  background: #fff;
  display: block;
  width: 225px;
  height: 0px;
  overflow: hidden;
  
  -moz-box-shadow: -3px 2px 8px #222;
  -webkit-box-shadow: -3px 2px 8px #222;
  box-shadow: -3px 2px 8px #222;

  /*Animation*/
 -webkit-transition: height .35s ease;
    -moz-transition: height .35s ease;
      -o-transition: height .35s ease;
     -ms-transition: height .35s ease;
         transition: height .35s ease;

}
.navigation .nav-btn-holder .nav-btn .sub-nav-holder .sub-nav-holder-wrapper{
  position: relative;
  display: block;
  width: 100%;
  height: auto;
}
.navigation .nav-btn-holder .nav-btn .sub-nav-holder a{
  position: relative;
  display: block;
  width: 100%;
  padding: 12px 24px;
  color: #000;
  font-size: 12px;
  text-decoration: none;
  font:16px/2 "Galaxie";
  vertical-align: middle;
  display: block;
  text-transform: capitalize;
}
.navigation .nav-btn-holder .nav-btn .sub-nav-holder a:first-child{
  margin-top: 12px;
  }
.navigation .nav-btn-holder .nav-btn .sub-nav-holder a:hover{
  
  background:#eee url('') no-repeat 93% 26px;
  background-size: 0px;
  color:#ec008c;

}




/* NAVIGATION :  END */





#hero{
  position: relative;
  display: block;
  width: 100%;
  height: 640px;
  background:url('../images/background-image.jpg') no-repeat top center #000;
  background-size: cover;
  -webkit-background-size: cover;
}
#hero img{
    display: none;
  }

h1 {
  position: absolute;
  top: 21%;
  left: 50%;
  color:#fff;
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  margin: 0;
  font: 15vmin/1.2 HUGEAvantGardeBold;
  letter-spacing: -0.02em;
  text-align: center;
  width: 100%;
}
h1 span{
  display: block;
}


.content-wrapper{
  position: relative;
  display: block;
  width: 100%;
  max-width: 980px;
  color:#000;
  font:16px/2 "Galaxie";
  margin: 0 auto 0 auto;
  padding: 0 0%;
}




