

@media only screen and (max-width : 965px) {
	.navigation #btn-home{
		margin:24px 24px 0 24px;
	}
	.navigation .nav-btn-holder .nav-btn a{
		padding: 24px 20px;
	}

}


@media only screen and (max-width : 900px) {

	.main-wrapper{
		padding-top: 60px;
		padding-bottom: 60px;

		
		
	}

	.navigation{
		height:60px;
		position: fixed;
		top: 0px;
		left: 0px;
	}

	#site-cover{
		  opacity: 0;
		  visibility: hidden;
	}
	.cover-site{
	  display: block;
	}

	.navigation #btn-home{
		left: -90px;
		margin: 19px 24px 0 24px;
		
	}
	#mobile-menu{
  		position: absolute;
  		left: 24px;
  		height:auto;
  		width: 24px;
  		top: 21px;
  		display: block;

	}
	#mobile-menu img{
		position: relative;
		width: 100%;
		display: block;
	}
	.navigation #mobile-menu-close{
		display: block;
	}
	.navigation .nav-btn-holder{
		position: fixed;
		left: -100%;
		top:60px;
		background: #fff;
		display: block;
		width: 80%;
		height: 100%;

		bottom:0;

	    overflow-y:scroll;
	    overflow-x:hidden;

	      /*Animation*/
	

	}

	.navigation .nav-btn-holder .nav-btn{
		position: relative;
		display: block;
		background: #fff;
	}

	
	.navigation .nav-btn-holder .with-sub a{
		background: url('../images/arrow-down.png') no-repeat 93% 26px;
		background-size: 26px;

	}
	.navigation .nav-btn-holder .nav-btn a{
		color:#000;
		font-size: 4vw;
		width: 100%;

	}
	.navigation .nav-btn-holder .nav-btn a:hover{
		background:#eee url('') no-repeat 93% 26px;
  background-size: 0px;
  color:#ec008c;
	}


	.navigation .nav-btn-holder .with-sub a:hover{
		
		background:#eee url('../images/arrow-down.png') no-repeat 93% 26px;
		background-size: 26px;
	}

	.navigation .nav-btn-holder .nav-btn .sub-nav-holder{
		position: relative;
		display: block;
		top: 0px;
		width: 100%;
		 -moz-box-shadow: none;
  		-webkit-box-shadow: none;
        box-shadow: none;

	}
	.navigation .nav-btn-holder .nav-btn .sub-nav-holder a{
		font-size: 3.1vw;
		width: 100%;
		background:#fff url('') no-repeat 93% 26px;
		background-size: 0px !important;

	}
	
	.navigation .nav-btn-holder .nav-btn .sub-nav-holder a:first-child{
	  margin-top: 0px;
	  }
	.navigation .nav-btn-holder .nav-btn:hover .sub-nav-holder{
	    height:0px;
	  }


	/**/
	
	#hero{
		height:auto;
		background: none;
		overflow: hidden;
		
	}  
	#hero img{
	position: relative;
	width: 125%;
	-webkit-transform: translate(-12.5%, 0%);
    transform: translate(-12.5%, 0%);
	height: auto;
    display: block;
  	}
	h1 {
		position: relative;
		color: #000;
		text-align: left;
		font-size: 12vw;
		line-height: 10vh;
		width: 87%;
		margin: 9% 0%;
	}
	h1 span{
		left: -3.2vw;
		position: relative;
		
	
	}

	.content-wrapper{
		width: 86%;
		font-size: 3.5vw;
		line-height: 4.5vh;
		
	}


}








@media only screen and (max-width : 414px) {
	
	h1{
		line-height: 7.5vh;
	}
	h1 span{
		left: -3.5vw;
	}
	.content-wrapper{
		font-size: 3.8vw;
	}

	.navigation .nav-btn-holder .nav-btn a{
		padding: 24px 24px;
		font-size:6vw;
	}

	.navigation .nav-btn-holder .nav-btn .sub-nav-holder a{
		font-size: 4.5vw;
		padding:12px 25px;

	}
	

}

@media only screen and (max-device-height : 480px) {
	h1{
		line-height:9vh;
	}
}


